default_layout "nvim"

default_mode "locked"

default_shell "fish"

show_startup_tips false
show_release_notes false

keybinds {
	locked {
    bind "Alt h" "Alt Left" { MoveFocus "Left"; }
    bind "Alt l" "Alt Right" { MoveFocus "Right"; }
    bind "Alt j" "Alt Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" { MoveFocus "Up"; }
	}
}
